<div class='font'>
  <button (click)="checkAll()">&#9660;</button>
  <input (keydown.enter)="addAndReset($event.target)"
         placeholder="What needs to be done?"
         size=42 />
  <ul class='listElements'>
    <li *ngFor='let item of filteredList'>
      <span (click)="check(item)"
            [className]="item.completed ? 'done':'undone'"> {{ item.title }} </span>
      <button (click)="
            remove(item)">&#10005;</button>
    </li>
  </ul>
  <span>{{nrOfActive}} items left </span>
  <button (click)="filter(0)">All</button>
  <button (click)="filter(1)">Active</button>
  <button (click)="filter(2)">Completed</button>
  <button (click)="clearCompleted()">Clear completed</button>

</div>